<!--英才学院-->
<div id="yingcai" class="school">
    <ul class="class_list">
        <li><a href="#" class="wx">学院微信</a></li>
        <li><a class="wx" href="http://page.renren.com/601076377">学院人人</a></li>
        <li><a href="http://page.renren.com/601249362?checked=true">学院学生会人人</a></li>
        <li><a href="http://page.renren.com/12ji?statID=page_601425484_1&level=1">班级人人</a></li>
    </ul>
    <div class="weixin">
        <div class="weixin_info">
            <h2><span class="bold">微信号:</span>Uestc_ucnc</h2>
            <p><span class="bold">帐号名称:</span>ycnc</p>
            <p><span class="bold">平台简介:</span></p>
            <p class="content">英才实验学院新闻中心微信平台，在生活的每时每刻，丰富你的资讯，丰富你的生活。</p>
        </div>
        <div class="weixin_img">
            <p><span class="bold">二维码:</span></p>
            <img src="pic/ycnc.jpg">
        </div>
    </div>
    <div class="weixin">
        <div class="weixin_info">
            <h2><span class="bold">微信号:</span>Uestc_ucnc</h2>
            <p><span class="bold">帐号名称:</span>ycnc</p>
            <p><span class="bold">平台简介:</span></p>
            <p class="content">英才实验学院新闻中心微信平台，在生活的每时每刻，丰富你的资讯，丰富你的生活。</p>
        </div>
        <div class="weixin_img">
            <p><span class="bold">二维码:</span></p>
            <img src="pic/ycnc.jpg">
        </div>
    </div>
</div>
<!--以上为模板-->
<!--通信学院-->
<div id="tongxin" class="school">
    <ul class="class_list">
        <li><a href="#" class="wx">学院微信</a></li>
        <li><a href="http://page.renren.com/601076377">学院人人</a></li>
        <li><a href="http://page.renren.com/601249362?checked=true">学院学生会人人</a></li>
        <li><a href="http://page.renren.com/12ji?statID=page_601425484_1&level=1">班级人人</a></li>
    </ul>
    <div class="weixin">
        <div class="weixin_info">
            <h2>微信号：Uestc_ucnc</h2>
            <p>帐号名称：ycnc</p>
            <p>平台简介：英才实验学院新闻中心微信平台，在生活的每时每刻，丰富你的资讯，丰富你的生活。</p>
            <p>二维码：</p>
        </div>
        <div class="weixin_img"><img src="pic/ycnc.jpg"></div>
    </div>
</div>

<!--电工-->
<div id="diangong" class="school">
    <ul class="class_list">
        <li><a href="#" class="wx">学院微信</a></li>
        <li><a href="http://weibo.com/u/5107856514">学院微博</a></li>
        <li><a href="http://page.renren.com/601524557?id=601524557&ref=opensearch_normal">学院学生会人人</a></li>
    </ul>
    <div class="weixin">
        <h2>2010级微信平台</h2>
        <p><img src="pic/diangong.jpg"></p>
        <p>2011级微信平台</p>
        <p><img src="pic/diangong2.jpg" ></p>
        <p>2012级微信平台</p>
        <p><img src="pic/diangong3.jpg" ></p>
    </div>
</div>

<!--微固-->
<ul id="weigu" class="school">
    <ul class="class_list">
        <li><a href="#" class="wx">学院微信</a></li>
        <li><a href="http://weibo.com/u/5079476989">学院微博</a></li>
        <li><a href="http://www.me.uestc.edu.cn/stu/App/mehomeApp.apk">学院APP</a></li>
        <li><a href="#">学院学生会</a></li>
        <li><a href="http://weibo.com/u/3509138260">学生会微博</a> </li>
        <li><a href="http://weibo.com/u/3053194691">研会微博</a> </li>
        <li><a href="http://page.renren.com/601554196?id=601554196">学生会人人</a></li>
        <li><a href="http://www.renren.com/601314364">微固星火志愿队</a></li>
        <li><a href="http://page.renren.com/601795717">微固发展委员会</a></li>
        <li><a href="http://weibo.com/junyeban">钧业实验班微博</a></li>
        <li><a href="#">微固国际班微信</a></li>
        <li><a href="#">钧业实验班微信</a></li>
    </ul>
    <!--微固微信-->
    <ul class="weixin">
        <li>微信号：ME_WeiGuanGuShi</li>
        <li>帐号名称：微观固事</li>
        <li>平台简介：以服务师生为出发点，及时为学院师生、家长、校友及关注微固学院发展的各界人士提供学院信息，推送电子科技大学微电子与固体电子学院相关重大事件、新闻热点及信息服务。</li>
        <li>二维码：</li>
        <li><img src="pic/weigu.jpg"  /></li>
    </ul>
    <ul class="weixin">
        <li>微信号:UESTC_ME_StudUnion</li>
        <li>账号名称  UESTC微固学生会</li>
        <li>平台简介  及时发布学院新动态，提供生活小贴士</li>
        <li>二维码</li>
        <li><img src="pic/weigu2.jpg" /></li>
    </ul>
    <ul class="weixin">
        <li>微信号:junyeban2013</li>
        <li>账号名称:钧业星火</li>
        <li>平台简介:向电子科技大学微电子与固体电子学院“钧业实验班”推送校园活动、考试信息、学院通知等信息，服务学生。</li>
        <li>二维码</li>
        <li><img src="pic/weigu3.jpg" ></li>
    </ul>
    <ul class="weixin">
        <li>微信号     ME-Abroad</li>
        <li>账号名称   微固国际范</li>
        <li>平台简介 以服务学生出国留学为出发点，及时为学院国际班同学推送各类出国留学项目、出国留学活动以及出国留学注意事项等信息。</li>
        <li>二维码</li>
        <li><img src="pic/weigu4.jpg" ></li>
    </ul>
</ul>



<!--物电-->
<ul id="wudian"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li><a href="http://weibo.com/234272899/home?wvr=5&sudaref=hao.360.cn">学院微博</a></li>
        <li><a href="http://page.renren.com/601582493">学院人人网</a></li>
        <li><a href="http://t.qq.com/uestc-wdxsh2011/follower?pgv_ref=im.perinfo.perinfo.icon&topid=4&dna=0&ct6=0&ct7=0&ct8=2&ct14=0&ct16=10&ct18=0">学院学生会微博</a></li>
        <li><a href="http://page.renren.com/601590349?checked=true">学院学生会人人</a></li>
        <li><a href="http://page.renren.com/601390100?id=601390100">魔术社人人公共主页</a></li>
        <li><a href="http://t.qq.com/lovemagic20122009">魔术社腾讯微博</a></li>
        <li><a href="http://page.renren.com/601395938">弦琴逸志吉他社人人主页</a></li>
        <li><a href="http://weibo.com/u/2847493150?topnav=1&wvr=5&topsug=1">弦琴逸志吉他社新浪主页</a></li>
        <li><a href="#">2011级真空一班微信</a></li>
        <li><a href="#">2012级应物一班微信</a></li>
        <li><a href="#">电子三班微信</a></li>
        <li><a href="#">2013级电子二班微信</a></li>
        <li><a href="#">电子三班微信</a></li>
        <li><a href="#">电子六班微信</a></li>
        <li><a href="#">电子四班微信</a></li>
        <li><a href="#">应物三班微信</a></li>
        <li><a href="http://weibo.cn/3008769902/profile?st=ea45">2012级应物一班微博</a></li>
        <li><a href="http://q.weibo.com/1475504">2012级电子一班微博</a></li>
        <li><a href="http://company.verified.weibo.com/verify/orgapply">2013级电子二班微博</a></li>
        <li><a href="http://weibo.com/u/5120580946/home?wvr=5&uut=fin&from=reg">2013级应物三班微博</a></li>
        <li><a href="http://weibo.com/u/5120607158">2013级电子七班微博</a></li>
        <li><a href="http://mt.renren.com/group/601126451">2010级应物二班人人</a></li>
        <li><a href="http://page.renren.com/601337806?q=\u7535\u5B50\u79D1\u59272011\u7EA7\u771F\u7A7A\u2116\u58F9|p=|s=2|u=348355399&act=name&rt=page&in=0&hh=1">2011级真空一班人人</a></li>
        <li><a href="http://page.renren.com/601074261?q=\u7269\u7535\u7535\u4E00|p=|s=2|u=348355399&act=name&rt=page&in=0&hh=1">2011级电子一班人人</a></li>
        <li><a href="http://page.renren.com/601341572?q=\u7535\u5B50\u79D1\u59272011\u7EA7\u771F\u7A7A\u4E09\u73ED|p=|s=2|u=348355399&act=name&rt=page&in=0&hh=1">2011级真空三班人人</a></li>
        <li><a href="http://mt.renren.com/group/100791394">2012级应用一班人人</a></li>
        <li><a href="http://page.renren.com/601738607">2012级电子三班人人</a></li>
        <li><a href="http://mt.renren.com/group/10967021">2012级应物二班人人</a></li>
        <li><a href="http://page.renren.com/601879247?id=6018792471">2013级应物三班人人</a></li>
        <li><a href="http://page.renren.com/601789621">2013级电子七班人人</a></li>
        <li><a href="http://page.renren.com/601879406">2013级电子二班人人</a></li>
    </ul>

    <!--物电微信-->
    <ul class="weixin">
        <li>微信号:The-word-of-PE</li>
        <li>帐号名称:物电在线</li>
        <li>平台简介:物电在线重视亲和力，以学生的上网习惯和上网爱好为切入点创造一个更贴近学生生活的网络平台，平台的语言表达贴近学生的网络语言表达习惯，每天除了及时发布学院及学校的消息通知，还从同学们经常关注的一些网页上摘选励志、学习等方面的文章进行发布，同时还经常与同学们进行线上线下交流，鼓励他们多提意见和建议并积极投稿。目前主要分为“物电系列”和“爱系列”两大系列。物电系列包括物电要闻、物电名师和物电小喇叭三个板块，爱系列分为爱学习、爱励志、爱生活 爱健康、爱娱乐、爱读书六大板块推送不同类别的文章，并还会在此基础上不停地推陈出新。</li>
        <li>二维码</li>
        <li><img src="pic/wudian.jpg" /></li>
        <li><img src="pic/wudian2.jpg" /></li>
        <li>Uestc2012 yingwuyiban</li>
        <li><img src="pic/wudian3.jpg" /></li>
        <li><img src="pic/wudian4.jpg" ></li>
        <li><img src="pic/wudian5.jpg" ></li>
        <li><img src="pic/wudian6.jpg" ></li>
        <li><img src="pic/wudian7.jpg" ></li>
        <li><img src="pic/wudian8.jpg" ></li>
    </ul>
</ul>

<!--光电-->
<ul id="guangdian"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li><a href="http://uzone.univs.cn/myspace.action">学院微博</a></li>
        <li><a href="http://t.qq.com/dianzikeji4353?pgv_ref=im.perinfo.perinfo.icon">学院学生会微博</a></li>
        <li><a href="http://page.renren.com/601014401?id=601014401">学院学生会人人</a></li>
        <li><a href="http://weibo.com/3839260747/profile?rightmod=1&wvr=5&mod=personinfo">毽球协会新浪微博</a></li>
        <li><a href="http://t.qq.com/woaijianqiu1212?preview">毽球协会腾讯微博</a></li>
        <li><a href="http://page.renren.com/601580268?origin=50303">毽球协会人人主页</a></li>
        <li><a href="http://weibo.com/u/3809555029 ">春雨公益志愿者联盟微博</a></li>
        <li><a href="http://page.renren.com/601700486">赣文化交流协会人人网</a></li>
        <li><a href="http://uestcganwenhua.tuanjuwang.com/">赣文化交流协会社团主页</a></li>
        <li><a href="#">光电信息学院2013050104班微信</a></li>
        <li><a href="#">光电信息学院2012059060班微信</a></li>
        <li><a href="#">光电信息学院2012059080班微信</a></li>
        <li><a href="http://weibo.com/u/5093690428/home?topnav=1&wvr=5">光电信息学院2013050108班微博</a></li>
        <li><a href="http://weibo.com/u/5121931441/home?wvr=5&topnav=1"></a>光电信息学院2013050202班微博</li>
        <li><a href="http://qun.qzone.qq.com/group#!/324583094/home">光电信息学院2013050107班微博</a></li>
        <li><a href="http://qun.qzone.qq.com/group#!/200452792/home">光电信息学院2013050203班微博</a></li>
        <li><a href="http://qun.qzone.qq.com/group#!/246251255/home">光电信息学院2013050201班微博</a></li>
        <li><a href="http://484208858.qzone.qq.com/">光电信息学院2013050105班微博</a></li>
        <li><a href="http://qun.qzone.qq.com/group#!/203633646/home">光电信息学院2014050204班微博</a></li>
        <li><a href="http://weibo.com/u/5120511799/home?wvr=5&uut=fin&from=reg">光电信息学院2012059050班微博</a></li>
        <li><a href="http://weibo.com/u/3816909631">光电信息学院2012059070班微博</a></li>
        <li><a href="http://t.qq.com/guangdianbaban">光电信息学院2012059080班微博</a></li>
        <li><a href="http://t.qq.com/xia675454724">光电信息学院2012059090班微博</a></li>
        <li><a href="http://t.qq.com/PTWXHN?preview">光电信息学院2012059100班微博</a></li>
        <li><a href="http://weibo.com/p/1005055120504031/album?from=page_100505&mod=TAB#place">光电信息学院2012059130班微博</a></li>
        <li><a href="http://weibo.com/5119876000/profile?rightmod=1&wvr=5&mod=personinfo">光电信息学院2012059140班微博</a></li>
        <li><a href="http://company.verified.weibo.com/verify/orgapply">光电信息学院2012059160班微博</a></li>
        <li><a href="http://t.qq.com/cyber--">光电信息学院2012059170班微博</a></li>
        <li><a href="http://page.renren.com/601879466">光电信息学院2013050104班人人</a></li>
        <li><a href="http://page.renren.com/601879495/channel-504117">光电信息学院2013050208班人人</a></li>
        <li><a href="http://zhan.renren.com/guangdian1?step=0">光电信息学院2012059010班人人</a></li>
        <li><a href="http://page.renren.com/601824778">光电信息学院2012059020班人人</a></li>
        <li><a href="http://page.renren.com/601879512">光电信息学院2012059030班人人</a></li>
        <li><a href="http://page.renren.com/601878980">光电信息学院2012059040班人人</a></li>
        <li><a href="http://page.renren.com/601879505">光电信息学院2012059050班人人</a></li>
        <li><a href="http://page.renren.com/601818286">光电信息学院2012059070班人人</a></li>
        <li><a href="http://page.renren.com/601718221">光电信息学院2012059080班人人</a></li>
        <li><a href="http://zhan.renren.com/20120590900?step=0">光电信息学院2012059090班人人</a></li>
        <li><a href="http://page.renren.com/601637923?id=601637923">光电信息学院2012059100班人人</a></li>
        <li><a href="http://page.renren.com/601879275">光电信息学院2012059110班人人</a></li>
        <li><a href="http://page.renren.com/601879494">光电信息学院2012059120班人人</a></li>
        <li><a href="http://page.renren.com/601878914">光电信息学院2012059130班人人</a></li>
        <li><a href="http://page.renren.com/601879060 ">光电信息学院2012059140班人人</a></li>
    </ul>

    <!--光电微信-->
    <ul class="weixin">
        <li>微信号 gduestc</li>
        <li>帐号名称    时光沉电</li>
        <li>平台简介    这里有最全面的信息【壹周汇】，有最贴近的光电知识【你不知道的光电】，有最high的娱乐资讯【时光剧场】，还有辅导员推荐的好玩去处【琳姐去哪儿】，互动交友平台【时光小站】。时光沉电，青春点滴，我们一起成长！</li>
        <li>二维码</li>
        <li><img src="pic/guangdian.jpg" /></li>
    </ul>
    <ul class="weixin">
        <li>微信平台  cd2013050104</li>
        <li>火力全开  hlqk1663723903</li>
        <li>光电八班吊炸天  uestc2012OE8</li>
    </ul>
</ul>

<!--计算机-->
<ul id="jisuanji"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li><a href="#">学院学生会微信</a></li>
        <li><a href="http://www.weibo.com/u/3769447212?topnav=1&wvr=5&topsug=1">学院学生会微博</a></li>
        <li><a href="http://page.renren.com/600441468">学院学生会人人</a></li>
        <li><a href="http://www.uestcsys.icoc.cc/">电子科大声优传媒社官方网站</a></li>
        <li><a href="http://weibo.com/u/2128873423">电子科大声优传媒社微博</a></li>
        <li><a href="http://page.renren.com/601730205?id=601730205&ref=opensearch_no">电子科大计算机辩论队</a></li>
    </ul>

    <!--计算机微信-->
    <ul class="weixin">
        <li>微信号:UESTCCCSE公共信息平台</li>
        <li>帐号名称:uestc_ccse</li>
        <li>平台简介:包括纲哥说、无畏13、威武12、无双11、加油毕业生、团学动态、研途妙计、研会风采几个板块</li>
        <li>二维码</li>
        <li><img src="pic/jisuanji.jpg"  ></li>
    </ul>
    <ul class="weixin"><li>帐号：科大计算机分团委学生会</li>
        <li>名称：uestcccycc</li>
        <li>二维码</li>
        <li><img src="pic/jisuanji2.jpg"  ></li>
    </ul>

</ul>

<!--信软-->
<ul id="xinruan"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li><a href="http://weibo.com/uestcxrxy/home?topnav=1&wvr=5">学院微博</a></li>
        <li><a href="#">学院学生会微信</a></li>
        <li><a href="http://weibo.com/2831909254/profile?rightmod=1&wvr=5&mod=personinfo">学院学生会微博</a></li>
        <li><a href="http://page.renren.com/601072163">学院学生会人人</a></li>
        <li><a href="http://weibo.com/u/3863133410?topnav=1&wvr=5&topsug=1">志愿者服务队微博</a></li>
        <li><a href="http://page.renren.com/601456304">志愿者服务队人人网</a></li>
        <li><a href="">电子科大沙河粤yu社</a></li>
        <li><a href="http://page.renren.com/601807999">电子科大沙河网球社</a></li>
        <li><a href="http://page.renren.com/601710833">SISE社团管理委员会</a></li>
        <li><a href="http://page.renren.com/601299031">电子科技大学信软篮球队</a></li>
        <li><a href="http://page.renren.com/601551146">电子科大乐感社</a></li>
        <li><a href="http://page.renren.com/601598542">DancersDelight</a></li>
        <li><a href="http://page.renren.com/601511731">电子科大信软学院大学生记者团</a></li>
        <li>信软成长吧</li>
        <li>信软微科技</li>
        <li>一起出国吧</li>
        <li><a href="http://t.qq.com/xgybtzb">11级信工一班团支部微博</a></li>
        <li><a href="http://t.qq.com/xg2011221020?preview">电子科大11信二团支部微博</a></li>
        <li><a href="http://t.qq.com/XRXY1030?preview">1030团支部微博</a></li>
        <li><a href="http://t.qq.com/ss2915384709?firstin">2011级1040团支部<微博/a></li>
        <li><a href="http://t.qq.com/xinruanxueyuan20?preview">信软学院2011信工五班微博</a></li>
        <li><a href="http://t.qq.com/zengarden?preview">电子科大2010团支部微博</a></li>
        <li><a href="http://t.qq.com/A2011222020">2020微博</a></li>
        <li><a href="http://t.qq.com/tuanzhibu2030">2030班的团支部微博</a></li>
        <li><a href="http://t.qq.com/shoujihuli150?preview">电子科大2040班团支部微博</a></li>
        <li><a href="http://t.qq.com/UESTC_11_3010">电子科大3010团支部微博</a></li>
        <li><a href="http://t.qq.com/liuhuifeng6230">电科大信软3020团支部微博</a></li>
        <li><a href="http://t.qq.com/liuhuifeng6230">电科大信软3020团支部微博</a></li>
        <li><a href="http://t.qq.com/qiansan2011223030">电子科大11级嵌三团支部微博</a></li>
        <li><a href="http://t.qq.com/uestc2011223040">嵌入式4微博</a></li>
        <li><a href="http://t.qq.com/henlihaidewuban#">3050微博</a></li>
        <li><a href="http://t.qq.com/uestc2011224010?from=12">电子科大4010团支部微博</a></li>
        <li><a href="http://t.qq.com/uestc2011224020">电子科技大学大型主机2班微博</a></li>
        <li><a href="http://t.qq.com/foreveruestc">信工一班4ever微博</a></li>
        <li><a href="http://t.qq.com/Nigh">电子科大1030团支部微博</a></li>
    </ul>
    <ul class="weixin">
        <li>微信号 uestcxinruan</li>
        <li>帐号名称    UESTC信软</li>
        <li>平台简介    电子科大信软学院官方微信平台，为师生提供最新鲜、最权威的资讯，开展丰富多彩的线上活动，力争成为师生生活学习的好帮手！</li>
        <li>二维码</li>
        <li><img src="pic/xinruan1.jpg" /></li>
    </ul>
    <ul class="weixin"><li><img src="pic/xinruan2.jpg" /></li></ul>
    <ul class="weixin"><li><img src="pic/xinruan3.jpg" /></li></ul>
    <ul class="weixin"><li><img src="pic/xinruan4.jpg" /></li></ul>
    <ul class="weixin"><li><img src="pic/xinruan5.jpg" /></li></ul>
    <ul class="weixin"><li><img src="pic/xinruan6.jpg" /></li></ul>
    <ul class="weixin"><li><img src="pic/xinruan7.jpg" /></li></ul>
</ul>

<ul id="zidonghua"  class="school">

</ul>
<ul id="jidian"  class="school">

</ul>

<!--生命-->
<ul id="shengming"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li><a href="http://weibo.com/u/5080586837/home?wvr=5&uut=fin&from=reg">学院微博</a></li>
        <li><a href="http://www.renren.com/601864310">学院人人网</a></li>
        <li><a href="http://page.renren.com/601864310?q=\u6210\u7535\u751F\u547D\u5B66\u9662|p=|s=2|u=562354583&act=view&rt=page&in=1&hh=1">学院学生会人人</a></li>
        <li><a href="http://page.renren.com/601589965">Beyondboader英语社人人平台</a></li>
        <li><a href="http://page.renren.com/601718125/info">12级工程二班人人</a></li>
        <li>班级微信</li>
    </ul>
    <ul class="weixin">
        <li>微信号: Lifeuestc</li>
        <li>帐号名称:    青春生命</li>
        <li>平台简介:    电子科技大学生命学院“青春生命”微信平台旨在加强学生与学院间交流，使学生在第一时间获得更多更新更有价值的信息！平台每周一到周五会为大家推送五个不同的板块，周一【环球视野】为大家带来国际上最先进的专业相关信息；周二【学长去哪儿】，学长线上交流，用亲身经历来化解前行道路上的迷茫；周三【书香氤氲】，每周一本好书推荐，探索生命的美好；周四【名师在线】，生命学院知名导师在线实时互动，解疑答惑，用专业的目光解答专业的问题；周五【一周纵横】，回顾一星期来的点点滴滴，梳理总结一周的心情~~~周六周日更有轻松时刻，为大家带来好看的文章，好听的歌曲，好玩的视频，精彩无限~~~~用户还可以在空闲时段与平台进行交流互动，自动回复等功能的完善设置增强了平台的趣味性与可用性。</li>
        <li>二维码</li>
        <li><img src="pic/shengming.jpg" ></li>
    </ul>
    <ul class="weixin">
        2012级工程二班；微信名称：快说去哪儿玩
    </ul>
</ul>

<!--数学-->
<ul id="shuxue"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li><a href="http://weibo.com/u/5064975696">学院微博</a></li>
        <li><a href="http://page.renren.com/601867355">学院人人网</a></li>
        <li><a href="http://page.renren.com/600965219">学院学生会人人</a></li>
        <li><a href="http://page.renren.com/601071633">数学科学学院辩论队人人网</a></li>
    </ul>
    <ul class="weixin">
        <li>微信号 uestc-math</li>
        <li>帐号名称    成电math</li>
        <li>平台简介    向全院师生推送最新最热门的新闻、学习、生活、活动等相关消息和资讯。</li>
        <li>二维码</li>
        <li><img src="pic/shuxue.jpg" ></li>
    </ul>
</ul>
<!--经管-->
<ul id="jingguan"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li><a href="http://e.weibo.com/u/2990800240?ref=http%3A%2F%2Flogin.sina.com.cn%2Fsso%2Flogin.php">学院微博</a></li>
        <li><a href="http://www.renren.com/454913512/profile?ref=opensearch_normal">学院人人网 </a></li>
        <li><a href="http://weibo.com/u/5079218367?topnav=1&wvr=5&topsug=1">学院学生会微博</a></li>
        <li><a href="http://t.qq.com/UESTC2012117020/profile?pgv_ref=im.perinfo.icon&ptlang=2052 ">班级微博</a></li>
    </ul>
    <ul class="weixin">
        <li>微信号:uestc_jcxy</li>
        <li>帐号名称:经彩校园</li>
        <li>平台简介:发表实验班的大型活动，推荐优秀文章，传递正能量的时间和人物。</li>
        <li>二维码</li>
        <li><img src="pic/jingguan.jpg"  ></li>
    </ul>
</ul>
<!--政管-->
<ul id="zhengguan"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li>院学生会微信</li>
        <li><a href="http://page.renren.com/601810317">学院社团</a></li>
        <li><a href="">行管三班微信</a></li>
        <li><a href="">信管二班微信</a></li>
        <li><a href="http://weibo.com/u/3066505287?from=myfollow_group">行管二到底微博</a></li>
        <li><a href="http://weibo.com/u/2704637755">11级信管一班微博</a></li>
        <li><a href="http://weibo.com/u/3983589678">2013级信息管理与信息系统2班微博</a></li>
        <li><a href="http://page.renren.com/601550537">行一不一般人人</a></li>
        <li><a href="http://page.renren.com/601396719">行管2到底人人</a></li>
        <li><a href="http://page.renren.com/601396719">2011级行政管理3班人人</a></li>
        <li><a href="http://page.renren.com/601439297">11级信管二班人人</a></li>
    </ul>
    <ul class="weixin">
        <li>微信号:Zhengguan13</li>
        <li>帐号名称:掌上大政管</li>
        <li>平台简介:【自律静心，博采知行】最新学员动态，前沿新闻咨询，实用的生活小妙招，有趣的科普常识，实效的美容养生。这里，有你想关注的，这里，有你想了解的。传播政管文化，丰富校园生活，政管学院13级公众平台，属于你我的平台！</li>
        <li>二维码</li>
        <li><img src="pic/zhengguan.jpg" /></li>
    </ul>
    <ul class="weixin">
        <li>微信帐号: 402828319@qq.com </li>
        <li>名称：政管你我</li>
        <li>二维码</li>
        <li><img src="pic/zhengguan2.jpg" /></li>
        <li><a href="http://weibo.com/u/3205808683">研究生会微博</a></li>
        <li><a href="http://t.qq.com/upbrvrdkcon">本科学生会微博</a></li>
        <li><a href="http://www.renren.com/298251819">学生会人人</a></li>
    </ul>
    <ul class="weixin"><li><img src="pic/zhengguan3.jpg" /></li></ul>
    <ul class="weixin"><li><img src="pic/zhengguan4.jpg" /></li></ul>
</ul>

<!--外国语-->
<ul id="waiguoyu"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li><a href="http://weibo.com/u/3754880774">学院微博</a></li>
        <li><a href="http://page.renren.com/601469222">学院人人网</a></li>
        <li><a href="http://weibo.com/u/3754880774">学院学生会</a></li>
        <li><a href="http://page.renren.com/601469222">学院学生会人人</a></li>
    </ul>
    <ul class="weixin">
        <li>微信号：外院family</li>
        <li>帐号名称：外院family</li>
        <li>平台简介：科大外院资源平台，交流平台，信息平台。关注科大生活，关注外院生活。We are a family.</li>
        <li>二维码</li>
    </ul>
    <ul class="weixin"><li><img src="pic/waiguoyu.jpg"/></li></ul>
</ul>

<ul id="makesi"  class="school"></ul>

<!--能源-->
<ul id="nengyuan"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li><a href="http://page.renren.com/601865123   ">能源新闻中心</a></li>
        <li>班级人人<a href="http://page.renren.com/601833328 ">12级能源一班</a></li>
        <li>班级空间主页<a href="http://user.qzone.qq.com/1106935711?ptlang=2052">能源二班</a></li>
    </ul>
    <ul class="weixin">
        <li>微信号 nengyuan_uestc</li>
        <li>帐号名称    活力能源</li>
        <li>平台简介    电子科技大学能源科学与工程学院针对全院学生推送学院要闻，师生风采，行业资讯，美文，通知，温馨提示。</li>
        <li>二维码</li>
        <li><img src="pic/nengyuan.jpg"/></li>
    </ul>
</ul>

<ul id="zihuan"  class="school"></ul>

<!--空天-->
<ul id="kongtian"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li><a href="http://t.qq.com/Kongtian-UESTC?preview">学院微博</a></li>
        <li><a href="http://page.renren.com/601825453">学院学生会人人</a></li>
        <li><a href="http://user.qzone.qq.com/2491367805?ptlang=2052">航空航天学院2012级的空间</a></li>
    </ul>
    <ul class="weixin">
        <li>微信号 KongTian-UESTC</li>
        <li>帐号名称    翱翔天空</li>
        <li>平台简介    【壮志空天，激情人生】电子科技大学航空航天学院官方平台：发布学院最新动态，分享最新前沿资讯。</li>
        <li>二维码</li>
        <li><img src="pic/kongtian.jpg" /></li>
    </ul>
</ul>

<!--格拉斯哥-->
<ul id="gelasige"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li><a href=" http://weibo.com/u/3273235614">学院微博</a></li>
    </ul>
    <ul class="weixin">
        <li>微信号:WeGlasgow</li>
        <li>帐号名称:WeGlasgow</li>
        <li>平台简介:用于电子科技大学格拉斯哥学院信息发布、招生宣传等</li>
        <li>二维码</li>
        <li><img src="pic/gelasige.jpg"/></li>
    </ul>
</ul>

<!--医学-->
<ul id="yixue"  class="school"></ul>
<!--体育-->
<ul id="tiyu"  class="school"></ul>
<!--成都学院-->
<ul id="chengdu"  class="school"></ul>
<!--中山学院-->
<ul id="zhongshan"  class="school"></ul>

<!--抗干扰-->
<ul id="kangganrao"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
        <li><a href="http://weibo.com/uestcncl/home?wvr=5&uut=fin&from=reg">学院学生会微博</a></li>
        <li><a href="http://www.renren.com/412758844">学院学生会人人</a></li>
    </ul>
    <ul class="weixin">
        <li>微信号 Kangganrao2013</li>
        <li>平台简介    实验室对内、对外联络平台工具</li>
        <li>二维码</li>
        <li><img src="pic/kangganrao.jpg" /></li>
    </ul>
</ul>

<!--文化艺术教育中心-->
<ul id="wenhuayishujiaoyuzhongxin"  class="school">
    <ul class="class_list">
        <li><a href="#">学院微信</a></li>
    </ul>
    <ul class="weixin">
        <li>微信号 UESTCART</li>
        <li>帐号名称    成电ART</li>
        <li>平台简介    提供最新演出活动资讯，开展最新校园艺术活动</li>
        <li>二维码</li>
        <li><img src="pic/wenhuayishujiaoyuzhongxin.jpg" /></li>
    </ul>
</ul>